[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[packages]
colorlog = "*"
"discord.py" = { file = "https://github.com/Rapptz/discord.py/archive/rewrite.zip", ref = "1.0.0a" }
pyyaml = "*"
pymongo = "*"
raven = "*"
requests = "*"